.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #231f2b;
  margin: 0;
}

h1 {
  margin: 30px;
  font-family: cursive;
  text-shadow: 3px 0 #E96479;
  font-size: 8rem;
  color: rgb(234, 120, 138);
}

p {
  font-size: 2rem;
  color: #7DB9B6;
  font-family: cursive;
}

img {
  width: 80%;
}

footer {
  padding: 2%;
  margin: 7% 0 0 0;
  color: #F5E9CF;
  text-align: center;
  font-family: 'poppins';
  background-color: #E96479;
}
